/.deps/

/app-src/.deps/
/app-src/.dirstamp

/autom4te.cache/

/enc-src/.deps/

/tpl/others/.deps/
/tpl/others/autom4te.cache/

/tpl/pbc/autom4te.cache/
/tpl/pbc/arith/.deps/
/tpl/pbc/arith/.dirstamp
/tpl/pbc/ecc/.deps/
/tpl/pbc/ecc/.dirstamp
/tpl/pbc/misc/.deps/
/tpl/pbc/misc/.dirstamp

/eval/.deps/
/eval/app-src/.deps/
/eval/app-src/.dirstamp
/eval/app-src/main.o
/eval/app-src/naive_operators.o
/eval/autom4te.cache/
/eval/enc-src/.deps/
/eval/enc-src/enclave_t.o
/eval/enc-src/enclave.o
/eval/enc-src/Makefile
/eval/enc-src/Makefile.in
/eval/tpl/
/eval/aclocal.m4
/eval/config.h
/eval/config.h.in
/eval/config.log
/eval/config.status

/eval/enclave*
/eval/Makefile
/eval/Makefile.in
/eval/QShieldEval
/eval/stamp-h1

/tpl/e-scheme/.deps/
/tpl/e-scheme/autom4te.cache/
/tpl/e-scheme/build-aux/
/tpl/e-scheme/m4/
/tpl/e-scheme/aclocal.m4
/tpl/e-scheme/bootstrap
/tpl/e-scheme/config*
/tpl/e-scheme/e-scheme.c
/tpl/e-scheme/*.o
/tpl/e-scheme/Makefile*
/tpl/e-scheme/stamp-h1

aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
