/.deps/

/Application/.deps/
/Application/.dirstamp

/autom4te.cache/

/Enclave/.deps/

/ThirdPartyLibrary/others/
!/ThirdPartyLibrary/others/libtpl.a
!/ThirdPartyLibrary/others/tpl.h

/ThirdPartyLibrary/pbc/autom4te.cache/
/ThirdPartyLibrary/pbc/arith/.deps/
/ThirdPartyLibrary/pbc/arith/.dirstamp
/ThirdPartyLibrary/pbc/ecc/.deps/
/ThirdPartyLibrary/pbc/ecc/.dirstamp
/ThirdPartyLibrary/pbc/misc/.deps/
/ThirdPartyLibrary/pbc/misc/.dirstamp

aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
