/.deps/

/Application/.deps/
/Application/.dirstamp

/autom4te.cache/

/Enclave/.deps/

/ThirdPartyLibrary/others/
!/ThirdPartyLibrary/others/libtpl.a
!/ThirdPartyLibrary/others/tpl.h

aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
